body {
  background-color: red;
  font-family: 'titillium web', sans-serif;
  
}

#main {
  margin: auto;
  background-color: white;
  max-width: 80%;
  height: 100vh;
  border-radius: 15px;
}

#club-logo {
  width: 125px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#content {
  border: 3px solid red;
}

h1 {
  letter-spacing: 0.5rem;
  font-size: 300%;
}