/* https://andy-bell.co.uk/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* ----------------------------------------------------------------- */

body {
  font-family: 'titillium web', sans-serif; 
}

/* nav list styling */
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline;
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: #000;
}

.active {
  text-decoration: underline;
}

#nav {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 0;
  margin: 10px 0 10px 0;
  height: 30px;
  display: flex;
  align-items: center;
}

/* main block styling */
#main {
  margin: auto;
  background-color: whitesmoke;
  max-width: 100%;
  height: 1000px;
  background-image: url('../images/background.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 5px;
  padding: 10px;
}

/* header elements */
#club-logo {
  width: 70px;
}

h1 {
  margin: 0;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/* content styling */
#content {
  text-align: center;
  background-color: whitesmoke;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

/* feedback form elements */
form {
  display: inline-block;
  text-align: left;
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radio-group label {
  margin-right: 10px;
}

#ffsubmit {
  background-color: darkred;
  color: #f0f0f0;
  border-radius: 10px;
  height: 50px;
  padding: 10px;
  border: 2px solid darkgreen;
}

/* game styling */
#grid-wrapper {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  margin: 50px 0 0 0;
  max-width: 300px;
}

.block {
  width: 150px;
  height: 80px;
  background-color: green;
  cursor: url('/assets/game/futbol-solid.svg'), auto;
}

#message {
  height: 25px;
  padding: 5px 0 0 0;
}

/* quiz page styling */
.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 5px 0 10px 0;
}
.question {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.answers {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.answer-btn {
  padding: 10px 20px;
  border: 2px solid darkgreen;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px;
  background-color: darkred;
  color: #f0f0f0;
}
.answer-btn:hover {
  background-color: #f0f0f0;
  color: darkred;
}

.image-container {
  margin: auto;
  padding: 20px;
}

.quizpic {
  margin: auto;
  max-height: 100px;
}

button {
  background-color: darkred;
  color: #f0f0f0;
  border: 2px solid darkgreen;
  border-radius: 10px;
  height: 50px;
  padding: 10px;
}

@font-face {
  /* from https://www.fontspace.com/category/scoreboard */
  font-family: 'scoreboard';
  src: url('/assets/sf-digital-readout-font/SfDigitalReadoutHeavy-AwVg.ttf') format('truetype')
}

.score {
  background-color: #000;
  color: #f0f0f0;
  font-size: large;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  font-family: 'scoreboard', sans-serif;
  letter-spacing: 5px;
}

/* Styles for portrait tablets, portrait iPad, e-readers, landscape 800x480 phones */
@media (min-width: 600px) {
  .grid {
    max-width: 400px;
  }
  
  .block {
    width: 200px;
    height: 109px;
  }

  #main {
    max-width: 70%;
    }
  
    #content {
      width: fit-content;
    }

    .score {
      font-size: x-large;
    }
}

/* Styles for landscape tablets, landscape iPad, low-resolution laptops and desktops */
@media (min-width: 801px) {

}

/* Styles for big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {

 }

/* Styles for high-resolution laptops and desktops */
@media (min-width: 1281px) {

}