body {
  background-color: red;
}

#main {
  margin: auto;
  background-color: white;
  max-width: 80%;
  height: 100vh;
}

#club-logo {
  width: 150px;
}

#header {
  display: flex;
  justify-content: center; /* Center horizontally */
}